<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState mode="InProc" cookieless="true" timeout="10"></sessionState>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    
   <!--<add name ="dbConnection" connectionString ="Data Source=DWITSERVER\SQLEXPRESS;Initial Catalog=CCMSDB;User ID=sa;Password =dwit2017"/>-->
   <add name ="dbConnection" connectionString= "Data Source=(localdb)\Projects;Initial Catalog=CCMSDB;Integrated Security=True;Integrated Security=True;Integrated Security=True; pooling='true'; Max Pool Size=1000000"/>
    
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value = "true"/>
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="ccmsdwit@gmail.com" />
    <add key="smtpPass" value="deerwalk" />
  </appSettings>

</configuration>